/* *************************************************** EXTRA SMALL ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (max-width:576px) {
       .navbar-nav {
              display: none;
       }

       .navbar-nav1 {
              color: black;
              list-style: none;
              padding-left: 0;
       }

       .navbar-nav1>li {
              padding: 10px 25px;
       }

       /* Hero */

       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }
       .hero-bg {
              background-position: center;
       }

       .row-bt{
              grid-template-columns: repeat(1, 1fr);
       }
}


/* *************************************************** MEDIUM ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:577px) and (max-width:768px) {
       .navbar-nav {
              display: none;
       }

       .navbar-nav1 {
              color: black;
              list-style: none;
              padding-left: 0;
       }

       .navbar-nav1>li {
              padding: 10px 25px;
       }

       /* Hero */
       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }

       .hero-bg {
              background-position: center;
       }

       .row-bt{
              grid-template-columns: repeat(1, 1fr);
       }
}

/* *************************************************** LARGE ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:769px) and (max-width:992px) {
       .nav-modal {
              display: none;
       }

       .navbar-nav {
              flex-direction: row;
       }

       .navbar-expand-lg .navbar-nav .nav-link {
              padding-right: var(--bs-navbar-nav-link-padding-x);
              padding-left: var(--bs-navbar-nav-link-padding-x);
       }

       /* Hero */
       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }

       .hero-bg {
              background-position: center;
       }
}


/* *************************************************** EXTRA LARGE ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:993px) and (max-width:1200px) {
       .nav-modal {
              display: none;
       }

       .container {
              width: 1160px;
       }
       /* Hero */
       /* .hero-bg {
              padding: 150px 0 150px 0;
       } */

}


/* *************************************************** EXTRA LARGE LARGE ***************************************************** */
/********************************************************************************************************************************/

@media screen and (min-width:1201px) and (max-width:1400px) {
       .nav-modal {
              display: none;
       }

       .container {
              width: 1160px;
       }

       /* Hero */
       .hero-bg {
              padding: 150px 0 150px 0;
       }
}