/* *************************************************** EXTRA SMALL ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (max-width:576px) {
       .navbar-nav {
              display: none;
       }

       .navbar-nav1 {
              color: black;
              list-style: none;
              padding-left: 0;
       }

       .navbar-nav1>li {
              padding: 10px 25px;
       }

       .container {
              width: 90%;
       }

       /* Hero */

       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }

       .hero-bg {
              background-position: center;
       }

       .row-bt {
              grid-template-columns: repeat(1, 1fr);
       }

       /* About me */
       .row-about {
              grid-template-columns: repeat(1, 1fr);
       }

       .section-sub-header {
              font-size: 25px;
       }

       .section-header {
              font-size: 34px;
       }

       /* counter */
       .row-counter {
              grid-template-columns: repeat(1, 1fr);
              row-gap: 10%;
       }


       .counter-div {
              grid-template-columns: 30% 60%;
       }

       #counter {
              padding: 50px 0 150px 0;
       }

       /* chose us */
       .choose-us-row {
              grid-template-columns: repeat(1, 1fr);
              row-gap: 50px;
       }

       /* service */

       .service-row {
              grid-template-columns: repeat(1, 1fr);
       }

       /* team */
       .team-row {
              grid-template-columns: repeat(1, 1fr);
       }

       #team button {
              height: 50px;
              width: 50px;
              margin: 15px;
              line-height: 50px;
              font-size: 20px;
       }

       /* case study */
       .case-text-row{
              grid-template-columns: repeat(1, 1fr);
       }
       .case-img-row{
              grid-template-columns: repeat(1, 1fr);
       }

       /* latest */
       .latest-row{
              grid-template-columns: repeat(1, 1fr);
       }

       /* footer */
       .footer-row{
              grid-template-columns: repeat(1, 1fr);
       }

}


/* *************************************************** MEDIUM ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:577px) and (max-width:768px) {
       .navbar-nav {
              display: none;
       }

       .navbar-nav1 {
              color: black;
              list-style: none;
              padding-left: 0;
       }

       .navbar-nav1>li {
              padding: 10px 25px;
       }

       /* Hero */
       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }

       .hero-bg {
              background-position: center;
       }

       .row-bt {
              grid-template-columns: repeat(1, 1fr);
       }

       /* about us */
       .row-about {
              grid-template-columns: repeat(1, 1fr);
       }

       .section-sub-header {
              font-size: 25px;
       }

       .section-header {
              font-size: 34px;
       }

       /* counter */
       .row-counter {
              grid-template-columns: repeat(2, 1fr);
              row-gap: 10%;
       }

       .counter-div {
              grid-template-columns: 30% 60%;
       }

       /* chose us */
       .choose-us-row {
              grid-template-columns: repeat(1, 1fr);
              row-gap: 50px;
       }

       /* service */
       .service-row {
              grid-template-columns: repeat(1, 1fr);
       }

       /* team */
       .team-row {
              grid-template-columns: repeat(2, 1fr);
       }

       /* case study */
       .case-text-row{
              grid-template-columns: repeat(2, 1fr);
       }
       .case-img-row{
              grid-template-columns: repeat(2, 1fr);
       }
       #case .container{
              max-width: 90%;
       }
       /* latest */
       .latest-row{
              grid-template-columns: repeat(1, 1fr);
       }

       /* footer */
       .footer-row{
              grid-template-columns: repeat(1, 1fr);
       }
}

/* *************************************************** LARGE ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:769px) and (max-width:992px) {

       /* nav section */
       .nav-modal {
              display: none;
       }

       .navbar-nav {
              flex-direction: row;
       }

       .navbar-expand-lg .navbar-nav .nav-link {
              padding-right: var(--bs-navbar-nav-link-padding-x);
              padding-left: var(--bs-navbar-nav-link-padding-x);
       }

       /* Hero */
       .slick-next,
       .slick-prev,
       .slick-dots {
              display: none !important;
       }

       .hero-bg {
              background-position: center;
       }

       .row-bt {
              grid-template-columns: repeat(2, 1fr);
       }

       /* about us */
       .section-sub-header {
              font-size: 25px;
       }

       .section-header {
              font-size: 34px;
       }

       /* counter */

       .row-counter {
              gap: 5%;
       }

       /* choose us */
       .choose-us-row {
              gap: 50px;
       }

       /* service */
       .service-row {
              grid-template-columns: repeat(2, 1fr);
       }
       /* case study */
       .case-text-row{
              grid-template-columns: repeat(2, 1fr);
       }
       .case-img-row{
              grid-template-columns: repeat(2, 1fr);
       }

       /* latest */
       .latest-row{
              grid-template-columns: repeat(2, 1fr);
       }

       /* footer */
       .footer-row{
              grid-template-columns: 50% 40%;
              gap: 10%;
       }
}


/* *************************************************** EXTRA LARGE ************************************************************** */
/***********************************************************************************************************************************/

@media screen and (min-width:993px) and (max-width:1440px) {
       .nav-modal {
              display: none;
       }

       .container {
              width: 1160px;
       }

       /* Hero */
       .hero-bg {
              padding: 150px 0 100px 0;
       }
       /* footer */
       .footer-row{
              grid-template-columns: 30% 20% 20%;
              gap: 10%;
       }

}


/* *************************************************** EXTRA LARGE LARGE ***************************************************** */
/********************************************************************************************************************************/

@media screen and (min-width:1441px) {
       .nav-modal {
              display: none;
       }

       .container {
              width: 1160px;
       }

       /* Hero */
       .hero-bg {
              padding: 150px 0 150px 0;
              background-repeat: no-repeat;
              background-size: cover;
       }
}